@model CreateEmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>
<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="employeeToAdd.Id" />
    <div class="border p-3">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group row">
            <h2 class="text-info pl-3">Edit existing employee</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="employeeToAdd.FirstName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="employeeToAdd.FirstName" class="form-control" />
                        <span asp-validation-for="employeeToAdd.FirstName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="employeeToAdd.LastName"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="employeeToAdd.LastName" class="form-control" />
                        <span asp-validation-for="employeeToAdd.LastName" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="rank"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="rank" class="form-control" />
                        <span asp-validation-for="rank" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="employeeToAdd.IsCEO"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="employeeToAdd.IsCEO" class="form-control" />
                        <span asp-validation-for="employeeToAdd.IsCEO" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="employeeToAdd.IsManager"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="employeeToAdd.IsManager" class="form-control" />
                        <span asp-validation-for="employeeToAdd.IsManager" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.employeeToAdd.ManagerId"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="@Model.employeeToAdd.ManagerId" asp-items="@(new SelectList(Model.managers,"Id","FirstName"))" class="custom-select">
                            <option value="">No Manager</option>
                        </select>
                        <span asp-validation-for="@Model.employeeToAdd.ManagerId" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-100" value="Update" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-success w-100">Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
            </div>
        </div>
    </div>
</form>