@model CheckOutViewModel
@{
    ViewData["Title"] = "CheckOut";
}

<h1>CheckOut</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form method="post" asp-action="CheckOut" asp-route-Id="@Model.Id">
    <input type="hidden" value="@Model.Id" />
    <div class="form-group row">
        <div class="col-4">
            <label asp-for="name"></label>
        </div>
        <div class="col-8">
            <input asp-for="name" class="form-control" />
            <span asp-validation-for="name" class="text-danger"></span>
        </div>
    </div>
    <button type="submit">Check Out</button>
</form>