@model Category
@{
}

<h1>Edit Category</h1>
<div asp-validation-summary="All" class="text-danger"></div>
<form asp-action="Edit" method="post">
    <input asp-for="CategoryName" type="text" value="@Model.CategoryName"/>
    <span asp-validation-for="CategoryName"></span>
    <button type="submit">Submit changes</button>
</form>