@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a library application created for the purpose of interviewing at Consid following their instructions</p>
</div>
